<IfModule mod_rewrite.c>
    RewriteEngine on
#RewriteBase   /~fnavarro/retroDB2/
RewriteBase /RetrogenesDB/
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
 </IfModule>
